@model ProductsDTO;

<style>
    .flex-container{
        flex-direction:column;
        display:flex;
        padding: 0px;
    }

    .flex-items{
        border-top: 1px solid #808080ab;
        border-left: 1px solid #808080ab;
        border-right: 1px solid #808080ab;
        border-radius:5px;
        width:90%;
        height:60px;
    }
    .flex-items:last-child{
        border-bottom:1px solid gray;
    }

    .ImgStyle{
        width:100%;
        height:100%;
        padding:2px;
        border-radius:5px;
    }
</style>



<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Add New Product</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 text-end">
                    <label asp-for="CategoryId" class="form-label"></label><em class="text-danger"> * </em>:
                </div>
                <div class="col-lg-3">
                    <select asp-items="@ViewBag.Category" class="form-control">
                        <option vlaue="-1">--Select--</option>
                    </select>
                </div>
                <div class="col-lg-1 text-end">
                    <label asp-for="BrandId" class="form-label"></label><em class="text-danger"> * </em>:
                </div>
                <div class="col-lg-3">
                    <select asp-items="@ViewBag.Brand" class="form-control">
                        <option vlaue="-1">--Select--</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row mt-2">
                        <div class="col-lg-6 text-end">
                            <label class="form-label" asp-for="ProductName"></label><em class="text-danger"> * </em>:
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" asp-for="ProductName" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6 text-end">
                            <label class="form-label" asp-for="ProductCode"></label><em class="text-danger"> * </em>:
                        </div>
                        <div class="col-lg-6">
                            <input class="form-control" asp-for="ProductCode" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6 text-end">
                            <label class="form-label" asp-for="BasePrice"></label><em class="text-danger"> * </em>:
                        </div>
                        <div class="col-lg-6">
                            <input asp-for="BasePrice" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-6 text-end">
                            <label class="form-label " asp-for="ProductImage"></label><em class="text-danger"> * </em>:
                        </div>
                        <div class="col-lg-6">
                            <input type="file"  class="form-control ProductImages" accept=".png,.jpg,.jpeg" multiple/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="row mt-1">
                        <div class="col-lg-5 px-2 col-8" style="height:180px;">
                            <img class="displayImage" src="" alt="not found" style="height:100%;width:100%;border:1px solid white;border-radius:10px;"  />
                        </div>
                        <div class="col-lg-2 col-2 flex-container">
                            <div class="flex-items">
                                <img class="ImgStyle hover-img" src="" alt="Image 1" id="img1" />
                            </div>
                            <div class="flex-items">
                                <img class="ImgStyle hover-img" src="" alt="Image 2" id="img2" />
                            </div>
                            <div class="flex-items">
                                <img class="ImgStyle hover-img" src="" alt="Image 3" id="img3" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-2 flex-container">
                            <div class="flex-items">
                                <img class="ImgStyle hover-img" src="" alt="Image 4" id="img4" />
                            </div>
                            <div class="flex-items">
                                <img class="ImgStyle hover-img" src="" alt="Image 5" id="img5" />
                            </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-3 text-end">
                    <label asp-for="ProductDesc" class="form-label"></label><em class="text-danger"> * </em>:
                </div>
                <div class="col-lg-7">
                    <textarea asp-for="ProductDesc" class="form-control"></textarea>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-3 text-end">
                    <label asp-for="IsAvaliable" class="form-label"></label><em class="text-danger"> * </em>:
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        $('.displayImage,.hover-img').attr("src", "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE3CETL_OertJKScoHfblxs6CBrKGVCmVESw&s");
       
        $('.ProductImages').on('change', function (event) {
            debugger
            $('.displayImage,.hover-img').attr("src", "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE3CETL_OertJKScoHfblxs6CBrKGVCmVESw&s");
            var Images = event.target.files;
            if(Images.length<=5)
            {
                for (let i = 0; i < Images.length;i++)
                {
                    if (Images[i].size <= (1 * 1024 * 1024)) {
                        const reader = new FileReader();
                        reader.onloadend=function(){
                            const base64 = reader.result;
                            if (i == 0) { 
                                $('.displayImage').attr("src", base64);
                            }
                            var img = $("#img" +(i+1));
                            img.attr("src", base64);
 
                        }
                        reader.readAsDataURL(Images[i]);
                    }

                }
            }
            else{
                alert("You Can Upload 5 Images less than 1MB each")
            }

        });

        $('.hover-img').on('mouseover', function () {
            const displayImage = $('.displayImage'); 
            var srcValue = $(this).attr('src'); // Get the src of the hovered image
            displayImage.attr("src", srcValue).show(); // Set the src and show the display image
        });

        $('.hover-img').on('mouseout', function () {
            $('#displayImage').hide(); 
        });
    });
</script>
