@model CategoryDTO;
<style type="text/css">
    .card
    {
        width:70%;
        margin:0px 15% 0px 15%;
        border:1px solid lightgray;
        border-radius:10px;
    }

    .Heading{
        font-size:28px;
        font-weight:600;
        color:white;
    }
    .card-header{
        background-color: #0f0c29;
        border-radius:10px 10px 0px 0px !important;
    }
</style>
<script type="text/javascript">
    $(function () {
        $('.form-control').attr("autocomplete", "off");

        $('.Files').change(function (event) {
            debugger
            var file = event.target.files[0];
            var allowedextension = ['png', 'jpg', 'jpeg', '.gif'];
            var fileextension = file.name.split('.').pop().toLowerCase();
            if (!allowedextension.includes(fileextension)) {
                $('.docerror').text("Invalid File Type - Please Upload Image( .jpg, .jpeg, .png, .gif)");
                $('.hdnCategoryimg').val('');
            }
            else
            {
                if (file && file.size<=(5*1024*1024)) { 
                    var reader = new FileReader();
                    reader.onloadend = function () {
                        const Base64 = reader.result;
                        $('.CategoryImg').prop("src", Base64);
                        $('.hdnCategoryimg').val(Base64);
                    }

                    reader.readAsDataURL(file);
                }
                else{
                    $('.docerror').text("File Should Be Less Than 1MB");
                    $('.hdnCategoryimg').val('');
                }
            }
        });
    
    });
    

</script>
<div class="container-fluid">
    <form asp-action="Category" method="post" >
    <div class="card">
        <div class="card-header text-center">
            <h4 class="display-3 Heading" >Add New Category</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <label asp-for="CategoryName" class="form-label"></label><em class="text-danger"> * </em>:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input asp-for="CategoryName" class="form-control" id="CategoryName" />
                            <span class="error" asp-validation-for="CategoryName"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="form-label" asp-for="CategoryDesc"></label><em class="text-danger"> * </em>:
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-12">
                        <textarea asp-for="CategoryDesc" class="form-control" id="CategoryDesc"></textarea>
                        <span class="error" asp-validation-for="CategoryDesc"></span>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="form-label" asp-for="CategoryImageURL"></label><em class="text-danger"> * </em>:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="file" name="CategoryImage" class="form-control Files" accept=".png,.jpg,.jpeg,.gif" />
                            <span class="error docerror" asp-validation-for="CategoryImageURL"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                        <img class="mt-2 shadow-sm CategoryImg"  src="https://www.legrand.com.kh/modules/custom/legrand_ecat/assets/img/no-image.png" alt="" style="width:100%;height:95%;border:1px solid white;border-radius:10px;" />
                        <input type="text" class="invisible hdnCategoryimg" asp-for="CategoryImageURL"/>
                    </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-10 text-center">
                    <button type="button" class="btn btn-secondary col-lg-2">Back</button>
                    <button type="submit" class="btn btn-primary col-lg-2 btnsave">Save</button>
                    <button type="reset" class="btn btn-primary col-lg-2 btnclear">Clear</button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}